services:
  PygameCommunityBot-Dev:
    image: PygameCommunityBot-Dev:latest
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
    tty: true
    # Add helpful development volumes here
    # volumes:
      # - ...:...
