click~=8.1
discord.py~=2.0
packaging>=21,<22
snakecore @ git+https://github.com/pygame-community/snakecore.git#egg=snakecore-0.1.2a
sqlalchemy[asyncio]~=1.4
uvloop; sys_platform != "win32" # https://github.com/MagicStack/uvloop/issues/14

# --- database driver libraries (DP-API 2.0)
aiosqlite~=0.17
